In [3]:
import pandas as pd
import numpy as np

In [11]:
x = np.random.random((50,3))

In [14]:
y = pd.DataFrame(data=x, columns=["foo", "bar", "buzz"])

In [15]:
y.head()

        foo       bar      buzz
0  0.636857  0.126146  0.860124
1  0.716479  0.016816  0.610229
2  0.321351  0.741808  0.934386
3  0.408767  0.929503  0.443197
4  0.031783  0.467792  0.871033

In [16]:
y.shape

(50, 3)

In [17]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   foo     50 non-null     float64
 1   bar     50 non-null     float64
 2   buzz    50 non-null     float64
dtypes: float64(3)
memory usage: 1.3 KB

In [44]:
y['fuzz'] = None

In [45]:
y['bazz'] = 'a'

In [46]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   foo     50 non-null     float64
 1   bar     50 non-null     float64
 2   buzz    50 non-null     float64
 3   fuzz    0 non-null      object
 4   bazz    50 non-null     object
dtypes: float64(3), object(2)
memory usage: 2.1+ KB

In [47]:
y[y['foo'] > 0.5]

         foo       bar      buzz  fuzz bazz
0   0.636857  0.126146  0.860124  None    a
1   0.716479  0.016816  0.610229  None    a
6   0.811314  0.311694  0.077299  None    a
7   0.536974  0.465845  0.541019  None    a
8   0.786284  0.684645  0.221950  None    a
11  0.596656  0.970371  0.916362  None    a
13  0.650956  0.989915  0.344570  None    a
14  0.763835  0.582650  0.521425  None    a
18  0.740672  0.012933  0.000365  None    a
19  0.822557  0.541455  0.947616  None    a
20  0.951197  0.316824  0.426226  None    a
21  0.962814  0.104329  0.628485  None    a
22  0.730898  0.458530  0.869826  None    a
25  0.575977  0.851965  0.374791  None    a
26  0.710620  0.168384  0.853553  None    a
27  0.753825  0.471498  0.308785  None    a
28  0.748614  0.141861  0.684075  None    a
29  0.730591  0.250928  0.644322  None    a
32  0.673468  0.362486  0.570051  None    a
34  0.810404  0.860415  0.526296  None    a
35  0.833905  0.123770  0.818464  None    a
36  0.710102  0.664482  0.117269  None    a
40  0.591255  0.273926  0.432952  None    a
43  0.970759  0.741204  0.665135  None    a
45  0.870579  0.234529  0.915779  None    a
47  0.638546  0.507969  0.797452  None    a
49  0.720779  0.670619  0.303430  None    a

In [53]:
y['bazz'][0:5] = 'b'

/Users/travis-bumgarner/.virtualenvs/mle/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/travis-bumgarner/.virtualenvs/mle/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [54]:
y.head()

        foo       bar      buzz  fuzz bazz
0  0.636857  0.126146  0.860124  None    b
1  0.716479  0.016816  0.610229  None    b
2  0.321351  0.741808  0.934386  None    b
3  0.408767  0.929503  0.443197  None    b
4  0.031783  0.467792  0.871033  None    b

/Users/travis-bumgarner/.virtualenvs/mle/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [55]:
y.groupby(['bazz']).mean()

           foo       bar      buzz
bazz
a     0.514091  0.477716  0.545898
b     0.423047  0.456413  0.743794