# Can we predict a poker hand?

In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/poker/poker-hand-testing.data'

In [3]:
dataset = pd.read_csv(
        url,
        header=None,
        names=['suit_1', 'val_1','suit_2', 'val_2','suit_3', 'val_3','suit_4', 'val_4','suit_5', 'val_5', 'hand']
    )

In [4]:
print(dataset.shape)

(1000000, 11)

In [5]:
dataset.head(10)

,suit_1,val_1,suit_2,val_2,suit_3,val_3,suit_4,val_4,suit_5,val_5,hand
0,1,1,1,13,2,4,2,3,1,12,0
1,3,12,3,2,3,11,4,5,2,5,1
2,1,9,4,6,1,4,3,2,3,9,1
3,1,4,3,13,2,13,2,1,3,6,1
4,3,10,2,7,1,2,2,11,4,9,0
5,1,3,4,5,3,4,1,12,4,6,0
6,2,6,4,11,2,3,4,9,1,7,0
7,3,2,4,9,3,7,4,3,4,5,0
8,4,4,3,13,1,8,3,9,3,10,0
9,1,9,3,8,4,4,1,7,3,5,0

In [16]:
array = dataset.values
print(array[0])
# print(array[0,:])
X = array[0:1000,0:10]
Y = array[0:1000, 10:]
validation_size = 0.30
training_seed = 7
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y, test_size=validation_size, random_state=training_seed)

In [20]:
X_train[0], Y_train[0]

(array([3, 4, 4, 9, 3, 5, 4, 6, 2, 2]), array([0]))

In [18]:
testing_seed = 7
scoring = 'accuracy'

In [19]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_validate

clf = SVC(kernel='linear', C=1)
cv_results = cross_validate(clf, X_train, Y_train, cv=5, return_estimator=True)

# hands_to_check = [
#     ('four_of_a_kind', [1,13,2,13,3,13,4,13,4,12]),
#     ('flush',          [1, 1,1, 2,1, 3,1, 4,1, 5]),
#     ('royal_flush',    [1,10,1,11,1,12,1,13,1, 1]),
# ]

# for model in cv_results['estimator']:
#     print(model.predict([[1,13,2,13,3,13,4,13,4,12]]))

/Users/travisbumgarner/Library/Caches/pypoetry/virtualenvs/jupi-py3.7/lib/python3.7/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)
/Users/travisbumgarner/Library/Caches/pypoetry/virtualenvs/jupi-py3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/travisbumgarner/Library/Caches/pypoetry/virtualenvs/jupi-py3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/travisbumgarner/Library/Caches/pypoetry/virtualenvs/jupi-py3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/travisbumgarner/Library/Caches/pypoetry/virtualenvs/jupi-py3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/travisbumgarner/Library/Caches/pypoetry/virtualenvs/jupi-py3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
cv_results.predict([[1,13,2,13,3,13,4,13,4,12]])

AttributeError: 'dict' object has no attribute 'predict'